<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="File" name="logfile" fileName="c:\servisijone\logs\webapi\webapi12.txt"
            archiveEvery="Day" archiveFileName="c:\servisijone\logs\webapi\webapi12-{#}.txt"
            archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="30"
            layout="${longdate} | ${level} | ${message} | ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Inserto ne fillim -->
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />

    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>

</nlog>